@model CampusApp.Models.ViewModels.AddStudent

@{
    ViewData["Title"] = "Add new student";
}

<h1>Enter the information about the new student</h1>

<form method="post">
    <div class="mt-3 form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mt-3 form-group">
        <label asp-for="LastName" class="control-label">Last name</label>
        <input type="text" asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mt-3 form-group">
        <label asp-for="Birthdate" class="control-label">Date of birth</label>
        <input type="date" asp-for="Birthdate" class="form-control" />
        <span asp-validation-for="Birthdate" class="text-danger"></span>
    </div>

    <div class="mt-3 form-group">
        <label asp-for="Email" class="control-label">Email address</label>
        <input type="email" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mt-3 form-group form-check">
        <input type="checkbox" asp-for="IsEnrolled" class="form-check-input" id="IsEnrolled" />
        <label asp-for="IsEnrolled" class="control-label">Enrolled</label>
    </div>

    <div class="mt-3">
        <div class="d-flex justify-content-start">
            <button asp-action="Add" asp-controller="Student" class="btn btn-primary">Create</button>
        </div>
    </div>

    <a class="btn btn-secondary" href="@Url.ActionLink("List", "Student")">Cancel</a>
</form>